.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 115px; */
}

.widthCard {
    min-width: 300px;
}

.btn {
    margin: 5px;
}

.nav-wrapper {
    background-color: cadetblue;
}

.page-footer {
    background: cadetblue;
}

.show {
    top: 100px;
    display: block !important;
    height: 500px;
    width: 500px;
    background-color: burlywood;
}

.finished {
    background-color: rgb(176, 198, 199);
}

.unFinished {
    background-color: rgb(212, 140, 113);
}

.modal-add,
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #036779 !important;
    padding-left: 10px;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 12px;
    will-change: top, opacity;
}

.btn-addTask {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.btn-modalAdd-apply,
.btn-modalAdd-cancel,
.btn-modal-edit,
.btn-modal-cancel {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;

}

